<!-- 상속받는 html 파일명 지정 -->
{% extends "basic.html" %}

<!-- 부모 html의 block부분 구현 -->
{% block title %} 회원등록 {% endblock %}

{% block header %} <h2> [새로운 회원등록] </h2>{% endblock %}

{% block content %} 
<form action="{{url_for('a.user_reg')}}" method="POST">
    <!--<label> 아이디 </label> <input type='text' name='id', id='id'> <br/> -->
    <label> 이  름 </label><input type='text' name='username' id='username'> <br/>
    <label> 이메일 </label> <input type='email' name='email' id='email'> <br/>
    <input type='submit' value='등록'> 
</form>
{% endblock %}